{% extends "StatEnseignantBundle::layout.html.twig" %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
<<<<<<< HEAD
            $('.column').each(function()
            {
                id = $(this).attr('id');
                getColumnOrBar(id,$('#'+id+'_titre').val(),$('#'+id+'_data').val(), 'column',$('#'+id+'_max').val());
            });
            $('.bar').each(function()
            {
                id = $(this).attr('id');
                getColumnOrBar(id,$('#'+id+'_titre').val(),$('#'+id+'_data').val(),'bar',$('#'+id+'_max').val());
            });
            $('.line').each(function()
            {
                id = $(this).attr('id');
                getLineChart(id,$('#'+id+'_titre').val(),$('#'+id+'_data').val(),'line');
            });
            $('.lineMultiple').each(function()
            {
                id = $(this).attr('id');
                getMultipleLineChart(id,$('#'+id+'_titre').val(),$('#'+id+'_data').val(),'line');
=======
            var max = 20;
            $('.graph').each(function()
            {
                id = $(this).attr('id');
                getGraph($('#'+id+'_type').val(), id,$('#'+id+'_titre').val(),$('#'+id+'_data').val(),max);
>>>>>>> 9ba0bb3b0b37b6e5e4f7f164eb73874931d666b7
            });
        })
    </script>
{% endblock %}

<<<<<<< HEAD
{% block title %}{{ parent() }} - Détails du cours actif {% endblock %}
{% block menu %}
    <li>Vue générale</li>
    <li>
        <a href="{{ url('stat_enseignant_etudiant_global', { 'id': id | titreCours }) }}">
            Vue étudiante
=======
{% block title %}{{ parent() }} - Détails du cours {% endblock %}
{% block menu %}
    <li>
        <a href="{{ url('stat_enseignant_homepage') }}">
            Vue générale
        </a>
    </li>    <li>
        <a href="{{ url('stat_enseignant_etudiant_global', { 'id': id | titreCours }) }}">
            Vue cohorte
>>>>>>> 9ba0bb3b0b37b6e5e4f7f164eb73874931d666b7
        </a>
    </li>
{% endblock %}
{% block body %}
<<<<<<< HEAD
    <table id="tabDetailCours" class="table tableCours">
        {% for tmp in data %}
            <tr>
                <th>
                    <p class="titreCours">{{ tmp['titre'] }}</p>
                    <p class="descriptionCours">
                        {% if tmp['description'] is defined %} {{ tmp['description']|raw }}
                        {% endif %}
                    </p>
                </th>
                <td>
                    <div id="{{ 'container_' ~ loop.index }}" class="{{ tmp['type'] }}"></div>
                </td>
                <input id="{{ 'container_' ~ loop.index ~ '_data' }}" type="hidden" value="{{ tmp['data']|json_encode }}" />
                <input id="{{ 'container_' ~ loop.index ~ '_titre' }}" type="hidden" value="{{ tmp['titre'] }}" />
                <input id="{{ 'container_' ~ loop.index ~ '_max' }}" type="hidden" value="{{ tmp['max'] }}" />
            </tr>
=======
    {% include 'StatEnseignantBundle:Cours:template/menu.html.twig' with {'enseignant': autres['teacher']|length, 'student':autres['student']|length, responsable: responsable, labelisation: labelisation  } only %}

    {% if(data['alertes'] is defined) %}
        <div class="alerte alerteOneCours">
            {% for alerte in data['alertes'] %}
                {% if(alerte['message'] is defined) %}
                    <div class="textAlerte textAlerteOneCours" style="color: {{ alerte['couleur'] }}">
                        {{ alerte['message'] }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <table id="tabDetailCours" class="table tableCours">
        {% for tmp in data %}
            {% for test in tmp %}
               {% if(cle != 'alertes') %}
                <tr>
                    <th>
                        <p class="titreCours">{{ test['titre'] }}</p>
                        <p class="descriptionCours">
                            {% if tmp['description'] is defined %} {{ test['description']|raw }}
                            {% endif %}
                        </p>
                        {% if cours['alertes'][id] is defined %}
                            <div class="alerte">
                                {% for alerte in cours['alertes'][id] %}
                                    {% if alerte is defined %}
                                        <span class="textAlerte" style="color: {{ alerte['couleur'] }}">
                                    {% if alerte['message'] is defined %}
                                        {{ alerte['message'] }}
                                    {% endif %}
                                  </span>
                                        <div class="feuAlerte" style="background: {{ alerte['couleur'] }}"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </th>
                    <td>
                        <div id="{{ 'container_' ~ loop.index }}" class="{{ test['type'] }}"></div>
                    </td>
                    <input id="{{ 'container_' ~ loop.index ~ '_data' }}" type="hidden" value="{{ test['data']|json_encode }}" />
                    <input id="{{ 'container_' ~ loop.index ~ '_titre' }}" type="hidden" value="{{ test['titre'] }}" />
                    <input id="{{ 'container_' ~ loop.index ~ '_max' }}" type="hidden" value="{{ test['max'] }}" />
                    <input id="{{ 'container_' ~ loop.index ~ '_type' }}" type="hidden" value="{{ test['type'] }}" />
                </tr>
                {% endif %}
            {% endfor %}
>>>>>>> 9ba0bb3b0b37b6e5e4f7f164eb73874931d666b7
        {% endfor %}
    </table>
{% endblock %}