{% extends "StatEnseignantBundle::layout.html.twig" %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.column').each(function()
            {
                id = $(this).attr('id');
                getColumnOrBar(id,$('#'+id+'_titre').val(),$('#'+id+'_data').val(), 'column');
            });
            $('.bar').each(function()
            {
                id = $(this).attr('id');
                getColumnOrBar(id,$('#'+id+'_titre').val(),$('#'+id+'_data').val(),'bar');
            });
        })
    </script>
{% endblock %}

{% block title %}{{ parent() }} - Détails du cours {% endblock %}

{% block body %}
    <table id="tabDetailCours" class="table tableCours">
        {% for tmp in data %}
            <tr>
                <th>
                    <p class="titreCours">{{ tmp['titre'] }}</p>
                    <p class="descriptionCours">
                        {% if tmp['description'] is defined %} {{ tmp['description']|raw }}
                        {% endif %}
                    </p>
                </th>
                <td>
                    <div id="{{ 'container_' ~ loop.index }}" class="{{ tmp['type'] }}"></div>
                </td>
                <input id="{{ 'container_' ~ loop.index ~ '_data' }}" type="hidden" value="{{ tmp['data']|json_encode }}" />
                <input id="{{ 'container_' ~ loop.index ~ '_titre' }}" type="hidden" value="{{ tmp['titre'] }}" />
            </tr>
        {% endfor %}
    </table>
{% endblock %}